<ion-header>
  <ion-toolbar color="warning">
    <div class="menu">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Alianzas</ion-title>
      <!-- Menu Buton -->
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
          <ion-list>
            <ion-item-group>
              <ion-item-divider>
                <h1 style="color:black;font-family: 'Times New Roman', Times, serif;">Potencias del eje</h1>
              </ion-item-divider>
              <ion-item lines="full">
                <ion-avatar slot="end">
                  <img src="./assets/bandera nazi.png" alt="">
                </ion-avatar>
                <ion-label>Alemania Nazi</ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-avatar slot="end">
                  <img src="./assets/Bandera Italia.png" alt="">
                </ion-avatar>
                <ion-label>Reino de Italia</ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-avatar slot="end">
                  <img src="./assets/Bandera japón.png" alt="">
                </ion-avatar>
                <ion-label>Imperio de Japón</ion-label>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider>
                <h1 style="color:black;font-family: 'Times New Roman', Times, serif;">Aliados</h1>
              </ion-item-divider>
              <ion-item lines="full">
                <ion-avatar slot="end">
                  <img src="./assets/Bandera China.png" alt="">
                </ion-avatar>
                <ion-label>China</ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-avatar slot="end">
                  <img src="./assets/Bandera Eeuu.png" alt="">
                </ion-avatar>
                <ion-label>Estados Unidos</ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-avatar slot="end">
                  <img src="./assets/Bandera Francia.png" alt="">
                </ion-avatar>
                <ion-label>Francia</ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-avatar slot="end">
                  <img src="./assets/Bandera Reino Unido.png" alt="">
                </ion-avatar>
                <ion-label>Reino Unido</ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-avatar slot="end">
                  <img src="./assets/Bandera Sovietica.png" alt="">
                </ion-avatar>
                <ion-label>Union Sovietica</ion-label>
              </ion-item>
            </ion-item-group>
          </ion-list>
        
</ion-content>
