<ion-header>
  <ion-toolbar color="warning">
    
      <ion-title style="font-family: 'Times New Roman', Times, serif;text-align: left;">
        Bienvenido!
      </ion-title>
      <!-- Menu Buton -->
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
    
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="background"class="container-fluid">
    <h1 class="titulo-ios">Historia de la II Guerra Mundial</h1>
    <hr/>
    <p style="font-family: 'Times New Roman', Times, serif;text-align: center;position: relative;bottom:10px">Conoce a detalle la historia de la segunda guerra mundial</p>
    <ion-img src="./assets/Portada.jpg" class="imagen"></ion-img>   
  <div class="relleno">
    <p><b>1º de septiembre de 1939</b> Después de asegurar la neutralidad de la Unión Soviética (por medio del Pacto Alemán-Soviético de no agresión firmado en agosto de 1939), Alemania inició la Segunda Guerra Mundial con la invasión de Polonia el 1° de septiembre de 1939. El 3 de septiembre, Gran Bretaña y Francia 
      respondieron con una declaración de guerra contra Alemania. En menos de un mes, Polonia sufrió la derrota a manos de las fuerzas alemanas y soviéticas, que procedieron a dividírsela. </p>
  </div>
  <div class="relleno">
    <p><b>3 de septiembre de 1939:</b> En cumplimiento de su compromiso de garantizar la integridad de las fronteras de Polonia, Gran Bretaña y Francia le declaran la guerra a Alemania. </p>
  </div>
  <div class="relleno">
    <p><b>17 de septiembre de 1939:</b> La Unión Soviética 
      invade Polonia desde el este. 
      El gobierno polaco huye al exilio a través de Rumania, 
      primero a Francia y posteriormente a Gran Bretaña. </p>
  </div>
  <div class="relleno">
    <p><b>27 al 29 de septiembre de 1939:</b>Varsovia se rinde el 27 de septiembre. Alemania y la Unión Soviética se reparten el territorio de Polonia.</p>
  </div>
  <div class="relleno">
    <p><b>30 de noviembre de 1939 al 12 de marzo de 1940:</b> La Unión Soviética invade Finlandia e inicia la llamada Guerra
       de Invierno. Los finlandeses piden un armisticio y ceden 
       a la Unión Soviética las costas del norte del lago Lagoda. 
       También ceden la pequeña la costa finlandesa del Océano Ártico.</p>
  </div>
  <div class="relleno">
    <p><b>9 de abril al 9 de junio de 1940:</b> Alemania invade Dinamarca y Noruega. Dinamarca se rinde el día del ataque. Noruega resiste hasta el 9 de junio.</p>
  </div>
  <div class="relleno">
    <p><b>10 de mayo al 22 de junio de 1940:</b> Alemania ataca Europa occidental, 
      específicamente Francia, así como los Países Bajos, 
      Bélgica y Luxemburgo, que eran neutrales. 
      Los alemanes ocupan Luxemburgo el 10 de mayo, 
      los Países Bajos se rinden el 14 de mayo y 
      Bélgica se rinde el 28 de mayo. 
      El 22 de junio, Francia firma un armisticio,
       por medio del cual los alemanes ocupan la mitad norte y toda la costa del Atlántico del país. 
       En el sur de Francia se establece un régimen colaboracionista con capital en Vichy.</p>
  </div>
  <div class="relleno">
    <p><b>10 de junio de 1940:</b> Italia entra a la guerra e invade el sur de Francia el 21 de junio.</p>
  </div>
  <div class="relleno">
    <p><b>28 de junio de 1940:</b> La Unión Soviética obliga a Rumania a cederle la provincia oriental de Besarabia y la mitad norte de Bucovina a la Ucrania soviética.</p>
  </div>
  <div class="relleno">
    <p><b>14 de junio al 6 de agosto de 1940:</b> La Unión Soviética ocupa las repúblicas bálticas (Estonia, Letonia y Lituania) 
      del 14 al 18 de junio. Del 14 al 15 de julio orquesta 
      golpes de estado por parte de comunistas en cada uno de estos países,
       y del 3 al 6 de agosto se los anexa como repúblicas soviéticas.</p>
  </div>
  <div class="relleno">
    <p><b>10 de julio al 31 de octubre de 1940:</b> La guerra aérea conocida como la Batalla de Gran Bretaña termina con la derrota de la Alemania nazi.</p>
  </div>
  <div class="relleno">
    <p><b>30 de agosto de 1940:</b> Segundo arbitraje de Viena: Alemania e Italia arbitran una decisión sobre la división de la provincia de Transilvania, 
      disputada entre Rumania y Hungría. 
      La pérdida del norte de Transilvania obliga al rey Carol de Rumania a abdicar en favor de su hijo Michael y 
      lleva al poder a una dictadura al mando del general Ion Antonescu.</p>
  </div>
  <div class="relleno">
    <p><b>13 de septiembre de 1940:</b> Los italianos invaden Egipto, que estaba bajo control británico, desde Libia, bajo control italiano.</p>
  </div>
  <div class="relleno">
    <p><b>27 de septiembre de 1940:</b> Alemania, Italia y Japón firman el Pacto Tripartito.</p>
  </div>
  <div class="relleno">
    <p><b>28 de octubre de 1940:</b> Italia invade Grecia desde Albania.</p>
  </div>
  <div class="relleno">
    <p><b>Noviembre de 1940:</b> Hungría (20 de noviembre), Rumania (23 de noviembre) y Eslovaquia (24 de noviembre) se unen al Eje.</p>
  </div>
  <div class="relleno">
    <p><b>28 de octubre de 1940:</b> Italia invade Grecia desde Albania.</p>
  </div>
  <div class="relleno">
    <p><b>Febrero de 1941:</b> Los alemanes envían al Afrika Korps al norte de África para reforzar a los italianos, que estaban flaqueando.</p>
  </div>
  <div class="relleno">
    <p><b>1º de marzo de 1941:</b> Bulgaria se une al Eje.</p>
  </div>
  <div class="relleno">
    <p><b>6 de abril a junio de 1941:</b>Alemania, Italia y Hungría invaden Yugoslavia y, junto con Bulgaria, la desmembran. 
      Yugoslavia se rinde el 17 de abril. 
      Alemania y Bulgaria invaden Grecia en apoyo a los italianos.
       La resistencia en Grecia cesa a principios de junio de 1941.</p>
  </div>
  <div class="relleno">
    <p><b>10 de abril de 1941:</b> Los líderes del movimiento terrorista Ustaša proclaman el llamado Estado Independiente de Croacia. El nuevo estado, 
      reconocido de inmediato por Alemania e Italia, 
      incluye la provincia de Bosnia-Herzegovina. 
      Croacia se une formalmente a las potencias del Eje el 15 de junio de 1941.</p>
  </div>
  <div class="relleno">
    <p><b>10 de abril de 1941:</b> Los líderes del movimiento terrorista Ustaša proclaman el llamado Estado Independiente de Croacia. El nuevo estado, 
      reconocido de inmediato por Alemania e Italia, 
      incluye la provincia de Bosnia-Herzegovina. 
      Croacia se une formalmente a las potencias del Eje el 15 de junio de 1941.</p>
  </div>
  <div class="relleno">
    <p><b>22 de junio a noviembre de 1941:</b> La Alemania nazi y sus aliados del Eje (excepto Bulgaria) 
      invaden la Unión Soviética. Finlandia, 
      que buscaba compensar las pérdidas t
      erritoriales del armisticio que concluyó 
      la Guerra de Invierno, acepta participar 
      en la invasión. Los alemanes invaden rápidamente 
      las repúblicas bálticas y, junto con los finlandeses, 
      sitian Leningrado (San Petersburgo) en septiembre. En el centro, 
      los alemanes capturan Smolensk a principios de agosto y avanzan 
      hacia Moscú para octubre. En el sur, las tropas alemanas y rumanas 
      capturan Kiev (Kyiv) en septiembre y capturan Rostov, en el río Don, en noviembre.</p>
  </div>
  <div class="relleno">
    <p><b>6 de diciembre de 1941:</b> Una contraofensiva soviética expulsa a los alemanes de las afueras de Moscú en una caótica retirada.</p>
  </div>
  <div class="relleno">
    <p><b>7 de diciembre de 1941:</b> Japón bombardea Pearl Harbor.</p>
  </div>
  <div class="relleno">
    <p><b>8 de diciembre de 1941:</b> Estados Unidos le declara la guerra a Japón y entra 
      en la Segunda Guerra Mundial. 
      Las tropas japonesas desembarcan en Filipinas, la Indochina francesa 
      (Vietnam, Laos, Camboya) y la colonia británica de Singapur. 
      Para abril de 1942, los japoneses ocupan las Filipinas, Indochina
       y Singapur; en mayo toman el control de Birmania. </p>
  </div>
  <div class="relleno">
    <p><b>11 al 13 de diciembre de 1941:</b> La Alemania nazi y sus aliados del Eje le declaran la guerra a Estados Unidos.</p>
  </div>
  <div class="relleno">
    <p><b>11 al 13 de diciembre de 1941:</b> La Alemania nazi y sus aliados del Eje le declaran la guerra a Estados Unidos.</p>
  </div>
</div>
  
  
</ion-content>


